[submodule "3rdParty/RIOT"]
	path = 3rdParty/RIOT
	url = https://github.com/tfar/RIOT.git
[submodule "3rdParty/relic"]
	path = 3rdParty/relic
	url = https://github.com/tfar/relic.git
[submodule "3rdParty/libcbor"]
	path = 3rdParty/libcbor
	url = https://github.com/tfar/libcbor.git
	branch = sandbox/2016/03/macosx-compilation-fix
[submodule "3rdParty/easyloggingpp"]
	path = 3rdParty/easyloggingpp
	url = https://github.com/easylogging/easyloggingpp.git
[submodule "3rdParty/NORX"]
	path = 3rdParty/NORX
	url = https://github.com/norx/NORX.git
[submodule "3rdParty/libtins"]
	path = 3rdParty/libtins
	url = https://github.com/mfontanini/libtins.git
